.navbar{
    display: flex;
    width: 100vw;
    padding: 10px;
    background: rgb(39, 39, 39)
    
}
.navbar-title{
    
width: 100vw;

color: aliceblue;
margin-left: 2rem;
cursor: pointer;
font-size: 2rem;
}

.navbar-list{
    display: flex;
    width: 100vw;
    margin-right: 2rem;
    align-items: center;
    justify-content:end ;
    
}
.navbar-list>a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 3rem;
}

.navbar-list>a:hover{
   color: rgb(248, 248, 210);
}
.responsive-nav-parent{
    display: none;

    justify-content: end;
    height: auto;
    width: 100vw;
    background-color: rgb(209, 209, 209);
}

.responsive-nav{
    display: flex;
    position: absolute;
    right: -100%;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    background-color: rgb(78, 78, 78);
    transition: 0.3s;
}
.nav-toggle{
    right:0;
}
.navbar-open{
color: rgb(214, 202, 187);
width: 100%;
display: none;
justify-content: end;
align-items: center;
font-size: 1.5rem;
}
.navbar-close{
color: rgb(214, 202, 187);
width: 100%;
display: none;
justify-content: end;
align-items: center;
font-size: 1.5rem;
}

.responsive-nav a{
    font-size: 1.5rem;
    border-bottom: 2px solid black;
    text-align: center;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-family: "Josefin Sans";
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width: 480px) {
    .responsive-nav-parent,.navbar-open,.navbar-close{
        display: flex;
    }
    .navbar-title{
        font-size: 1.5rem;
        width: 100vw;
    }
    .navbar-list{
        display: none;
    }
  }